<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Athharv is a fifth grader from Bengaluru, India, trying to tinker 
        with hardware and software. He is a bookworm and likes playing most 
        boardgames, card games, and some sports. He also likes playing some
        video games.</p>
      <div class="col-lg-4">
        <p>This is my profile page, or homepage on the internet. </p>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
